.body-style{
    background-color: white;
    color: purple;
}


/*there is a class in the html named paragraph-text*/
/*i gave it a text color of white and i moved it  to the center*/

.paragraph-text{
    text-align: center;
    color: black;
}

.image-class{
    max-width: 100%;
    height: auto;
}
.video-class{
    height: auto;
    max-width: 60%
}